[Desktop Entry]
Version=1.0
Type=Application
Name=WebSocketReflectorX
GenericName=WebSocketReflectorX
Comment=Controlled TCP-over-WebSocket forwarding tunnel.
Exec=wsrx-desktop
TryExec=wsrx-desktop
Icon=wsrx-desktop
Terminal=false
Categories=Network;Utilities;
StartupWMClass=wsrx-desktop
