.active-btn::before {
    content: ' ';
    @apply absolute left-2 h-[20px] w-[2px] bg-blue-500 transition-all duration-200;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.blink {
    animation: blink 1s infinite;
}