BasedOnStyle: LLVM
IndentWidth: 4
# ---
Language: Cpp
AccessModifierOffset: -2
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 4
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
UseCRLF: false
AlignConsecutiveMacros: Consecutive
# ---