<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>WebSocketReflectorX</string>

	<key>CFBundleDisplayName</key>
	<string>WebSocketReflectorX</string>

	<key>CFBundleExecutable</key>
	<string>wsrx-desktop</string>

	<key>CFBundleIdentifier</key>
	<string>tech.woooo.wsrx</string>

	<key>CFBundleVersion</key>
	<string>0.2.7</string>

	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	
	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleIconFile</key>
	<string>WebSocketReflectorX.icns</string>

	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>

	<key>NSHumanReadableCopyright</key>
	<string>@MACOSX_BUNDLE_COPYRIGHT@</string>

	<key>NSHighResolutionCapable</key>
	<true/>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
